<!DOCTYPE html>
<h<!DOCTYPE html>
<html>
<head>
  <title>Make A Dish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<head>
  <title>Make A Dish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
<h1>This is the about page</h1>
<%= link_to "About", about_path %>
</div>
</body>